<!DOCTYPE html>
<html>
<head>
  <title>Create Ticket</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <h1>New Ticket</h1>

  <form action="/flights/<%= flight._id %>/tickets" method="POST">
    <label for="seat">Seat:</label>
    <input type="text" name="seat" id="seat" required>

    <label for="price">Price:</label>
    <input type="number" name="price" id="price" required min="0">

    <button type="submit" class="btn btn-primary">Create Ticket</button>
  </form>
</body>
</html>
