<!DOCTYPE html>
<html>
<head>
  <title>Create New Flight</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/new.css">
</head>
<body>
  <h1>Add Flight</h1>

  <form action="/flights" method="POST">
    <label for="airline">Airline:</label>
    <select name="airline" id="airline">
      <% flightSchema.forEach(function(option) { %>
        <option value="<%= option %>"><%= option %></option>
      <% }); %>
    </select>

    <label for="airport">Airport:</label>
    <select name="airport" id="airport">
      <% airportSchema.forEach(function(option) { %>
        <option value="<%= option %>"><%= option %></option>
      <% }); %>
    </select>

    <label for="flightNo">Flight No.:</label>
    <input type="text" name="flightNo" id="flightNo" required>

    <label for="departs">Departure Date/Time:</label>
    <input type="datetime-local" name="departs" id="departs" required>

    <button type="submit">Create Flight</button>
  </form>
</body>
</html>
